html {
    background-color: #f1f5f9;
    font-family: -apple-system, BlinkMacSystemFont, IBMPlex, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
  }
  
body {
  height: 100%;
    margin: 1.25rem 1.25rem;
  }

.page-container {
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 96%;
}

a {
  text-decoration: none;
  color: teal;
}

a:visited {
  color: teal;
}

a:hover {
  text-decoration: underline;
}
  
header {
    min-height: 1rem;
  }
  
  
h1 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }

.nav-links {
  display: flex;
  gap: 5px;
}

li {
	margin-bottom: 1rem;
}
