---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About"
---
<BaseLayout pageTitle={pageTitle}>
    <p>I'm working through Astro's tutorial right now, this site will continue to grow as I learn more!</p>
</BaseLayout>
   
