---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Sam Spinner"
---
<BaseLayout pageTitle={pageTitle}>
    <h3>Welcome to my website!</h3>
    <p>Please pardon the construction, a few pieces are still <a href="/todo">underway</a>. 
    <p>In the meantime, feel free to poke around! I hope you find something that you enjoy.</p>
</BaseLayout>	