---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Todo"
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li>footer!</li>
        <li>Fill out actual sections!</li>
        <li>RSS feed</li>
        <li>Dropbox/cloudflare/git photo integration</li>
        <li>Test Obsidian -> Markdown flow</li>
        <li>responsive nav bar, page sizing in general</li>

    </ul>
</BaseLayout>