---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Todo"
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li>add tailwind for easy aesthetics</li>
        <li>categories/tags for different writing pieces, maybe some search functionality as well</li>
        <li>better resolution photo</li>
        <li>RSS feed - going to work on post upload process first, once we find a good groove will test RSS</li>
        <li>Dropbox/cloudflare/git photo integration</li>
        <li>Test Obsidian -> Markdown publishing flow</li>
        <li>responsive nav bar?</li>
        <li>tags for articles with filtering/different sections</li>
        <li>[DEV] - get better formatting LSP</li>
    </ul>
</BaseLayout>