---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Todo"
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li>RSS feed</li>
        <li>Dropbox/cloudflare/git photo integration</li>
        <li>Test Obsidian -> Markdown flow</li>
        <li>Fill out actual sections!</li>

    </ul>
</BaseLayout>