---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Todo"
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li>change header, footer, highlight color and style </li> 
        <li>make nav bar slimmer</li> 
    </ul>
</BaseLayout>