---
import BaseLayout from '../layouts/BaseLayout.astro'
type imageFrontMatter = {
  url: string
  alt: string
}

type postFrontmatter = {
  title: string
  layout: string
  date: string
  image: imageFrontMatter
  live: false
}

type Post = {
  url: string
  frontmatter : postFrontmatter
}

const pageTitle = "Writing"
const allPosts: Array<Post> = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
const filteredPosts = allPosts.filter(post => post.frontmatter.live)
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {filteredPosts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</BaseLayout>