---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro'
type imageFrontMatter = {
  url: string
  alt: string
}

type postFrontmatter = {
  title: string
  date: string
  live: boolean
}

type Post = {
  url: string
  frontmatter : postFrontmatter
}

const pageTitle = "Writing"

const allPosts = await getCollection('blog');
const filteredPosts = allPosts.filter(post => post.data.live)
const sortedPosts = filteredPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---
<style>
  .spaced-list li {
    margin-bottom: 0.5em; 
  }

  .spaced-list li:last-child {
    margin-bottom: 0;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <ul class="spaced-list">
	  {sortedPosts.map(post => <li><a href={`writing/${post.id}`}>{post.data.title}</a><div style="color: gray">{post.data.date.toLocaleDateString()}</div></li>)}
  </ul>
</BaseLayout>
