---
import { isOpen } from "../store";
---
<div id="navLinks">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/writing">Writing</a>
    <a href="/todo">Todo</a>
</div> 
<style>
    #navLinks {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 1rem;
    }
</style>
<!-- stashing the below for later -->
<!-- <script>
    import { isOpen } from "../store";
    document.getElementById('navButton')?.addEventListener('click', () => isOpen.set(true))
    document.getElementById('navCloseButton')?.addEventListener('click', () => isOpen.set(false))

    isOpen.subscribe(open => {
        const navLinks = document.getElementById('navLinks')
        const navButton = document.getElementById('navButton')
        if (!navLinks || !navButton){
            return
        }
        navLinks.style.display = open ? "flex" : "none"
        navButton.style.display = open ? "none" : "block"

    })

    
</script> -->