---
const pathName = Astro.url.pathname
const isIndex = pathName === "/"
---
<div id="navBar">
    {!isIndex && <a href="/" id="homeLink">Sam Spinner</a>}
    <div id="navLinks">
        <a href="/about">About</a>
        <a href="/writing">Writing</a>
        <a href="/todo">Todo</a>
    </div>
</div> 
<style>
    a {color: black}

    a:visited {color: black}

    #navLinks {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 1rem;
        width: 100%;
    }

    #homeLink {
        font-weight: 550;
        width: 100%;
    }

    #homeLink:hover {
        text-decoration: none;
    }

    #navBar {
        display: flex;
        justify-content: space-between;
    }
</style>
<!-- stashing the below for later -->
<!-- <script>
    import { isOpen } from "../store";
    document.getElementById('navButton')?.addEventListener('click', () => isOpen.set(true))
    document.getElementById('navCloseButton')?.addEventListener('click', () => isOpen.set(false))

    isOpen.subscribe(open => {
        const navLinks = document.getElementById('navLinks')
        const navButton = document.getElementById('navButton')
        if (!navLinks || !navButton){
            return
        }
        navLinks.style.display = open ? "flex" : "none"
        navButton.style.display = open ? "none" : "block"

    })

    
</script> -->