---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div>test</div>
    <ul>
      <li>change header, footer, highlight color and style </li> 
      <li>make nav bar slimmer</li> 
      <li>figure out why there is so much space after the first div, probably has to do with flex/grid, you should go back to flex</li>
    </ul>
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
  </body>
</html>