---
import BaseLayout from "./BaseLayout.astro"
const {frontmatter} = Astro.props
const pageTitle = frontmatter.title
---
<BaseLayout pageTitle={pageTitle} isBlogPost={true}>
    <h1>{pageTitle}</h1>
    <div class="prose">
	    <slot class="prose"/>
    </div>
</BaseLayout>

<style is:global>
    h1 {
        margin-bottom: .25rem;
    }
    h4 {
        margin: 0;
        font-weight: 300;
	color: gray;
    }
    a {
        color: teal;
    }
    a:visited {
        color: teal;
    }
    .prose {
        max-width: 100%; /* Comfortable reading width */
    	margin: 0 auto;  /* Center the text */
    }
    
</style>
