---
import BaseLayout from "./BaseLayout.astro"
const {frontmatter} = Astro.props
const pageTitle = frontmatter.title
---
<BaseLayout pageTitle={pageTitle} isBlogPost={true}>
    <h2>{pageTitle}</h2>
    <div class="prose">
	    <slot class="prose"/>
    </div>
</BaseLayout>

<style is:global>
    h2 {
        padding-bottom: 1rem;
	font-weight: normal;
    }
    a {
        color: teal;
    }
    a:visited {
        color: teal;
    }
    .prose {
        max-width: 65ch; /* Comfortable reading width */
    	margin: 0 auto;  /* Center the text */
    }
    
</style>
